<h3 style="color:rgb(0, 252, 67)">Producto cargado</h3>
<form action="/api">
    <input type="submit" value="Cargar Productos" />
</form>
<form action="productos" method="get">
    <input type="submit" value="Ver Productos" />
</form>