<h1>Productos</h1>

{{#if vacio}}
    <h2>No hay productos</h2>
{{/if}}  

<table style="background-color: blueviolet; width: 50%; margin-bottom: 50px;">
    <tr style="text-align: left;">
        <th style="color:white">Nombre</th>
        <th style="color:white">Precio</th>
        <th style="color:white">Foto</th>
    </tr>
    {{#each resp}}
        <tr>
            <td style="color:white">{{this.title}}</td>
            <td style="color:white">{{this.price}}</td>
            <td style="color:white"><img src={{this.thumbnail}} alt="" style="width: 50px;"></td>
        </tr>
    {{/each}}
</table>

<form action="/api">
    <input type="submit" value="Cargar Productos" />
</form>