<h1>Productos</h1>
<% if(resp.length > 0){ %> 
    <table style="background-color: blueviolet; width: 50%; margin-bottom: 50px;">
        <tr style="text-align: left;">
            <th style="color:white">Nombre</th>
            <th style="color:white">Precio</th>
            <th style="color:white">Foto</th>
        </tr>
        <%resp.forEach(function(producto) {%>
        <tr>
            <td style="color:white"><%=producto.title%></td>
            <td style="color:white"><%=producto.price%></td>
            <td style="color:white"><img src=<%=producto.thumbnail%> alt="" style="width: 50px;"></td>
        </tr>
        <%});%>
    </table>
<% } else{ %>
    <h2>No hay productos</h2>
<% } %>

<form action="/api">
    <input type="submit" value="Cargar Productos" />
</form>

