{{#if user.nombre}} 
    <h3 class="user-h3">
        Bienvenido <a>{{user.nombre}}</a>
        <button onclick="location.href='/logout-despedida'">LOGOUT</button>
    </h3>
{{else}}  
    <h3>No se encontro usuario</h3>
{{/if}}